
body, html {
    height:500px;
    margin: 0 auto;
    /* line-length: 40; */
    background-color: #e97d30;
  }
/* The navigation bar */
.top-menu {
    overflow: hidden;
    background-color: #DDD;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /*  Full width */
    z-index: 1;
  }

/* h1,h2,h3,h4,h5,h6 { padding: 0; margin: 0.5rem 0; line-height: 1.5;} */

/* Main content */
.parallax {
   /* The image used */
    background-image: url("https://raw.githubusercontent.com/dkreidler/freeCodeCamp/master/blacksmith-2371002_1920.jpg");
	/* Full height */
    height: 500px;
  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }  
.parallax2 {
    /* The image used */
    background-image: url("https://raw.githubusercontent.com/dkreidler/freeCodeCamp/master/guitar-2015130_1920.jpg");
    /* Full height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3 {
    /* The image used */
    background-image: url("https://raw.githubusercontent.com/dkreidler/freeCodeCamp/master/isolated-2385995_1280.jpg");
    /* Full height */
    height: 200px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  position: relative;
  z-index: -1;
} 
.overText {
  background-color: rgba(0,0,0,.2);
color: white;
  text-align: justify;
  padding: 3px 30px 10px 30px;
  
}

.social {
  text-align: center;
}
/* Fort Awesome hover effect */
.fa:hover {
    opacity: 0.7; 
}
.mainTitle {
padding-top: 30px; 
  color: #FFF;
  text-align: center;
  /* font-size: 5em; */
  background-color: rgba(0,0,0,0.4);
}
.subTitle {
 padding-top: 5px;
  color: #FFF;
  text-align: center;
  /* font-size: 5em; */
  background-color: rgba(0,0,0,0.2);
}

.portfolio {
	/* portfolio reactive sizing from FCC on Medium*/
	/* https://medium.freecodecamp.org/how-to-make-your-html-responsive-by-adding-a-single-line-of-css-2a62de81e431 */
		display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(4, 200px);
}

.portfolio > div > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}